@tailwind base;
@tailwind components;
@tailwind utilities;

  h1 {
    @apply text-[100px] md:text-[125px] lg:text-[150px] 
  }

    h2 {
    @apply text-[80px] md:text-[110px] lg:text-[130px] 
  }

      h3 {
    @apply text-[60px] md:text-[80px] lg:text-[110px] 
  }

      h4 {
    @apply text-[40px] md:text-[60px] lg:text-[90px] 
  }
      p {
    @apply text-[30px] md:text-[30px] lg:text-[50px] 
  }
.navigation_bar{
height:auto;
background-color: #A1A1A1;
position: absolute;
top: 0rem;
left: 0rem;
bottom: 0rem;
right: 0rem;

}