.animate_left {
  position: absolute;
  bottom: 3rem;
  left: -40rem;
  z-index: 1;

}

.animate_right {
  position: absolute;
  top: 5rem;
  right: -40rem;
  z-index: 1;

}

.button_animate_right {
  position:absolute;
  z-index: 1;
  right: -40rem;
  width: 10rem;
  bottom: 3rem;

}

.image_container {
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  position: absolute;
  top: 18rem;
}
