
.animate_left {
  position: absolute;
  bottom:2rem;
  left: -110%;
  z-index: 1;

}
.animate_right{
  position: absolute;
  top:6rem;
  right: -110%;
  z-index: 1;
}
.button_animate_right{
    position: absolute;
    bottom:6rem;
    right: -110%;
  z-index: 1;
}
.image_container{
    position: absolute;
    width: 300px;
  left: 12%;
    height: 300px;
    bottom:-110%;
    border-radius: 5rem;
    background-image:url('https://i.pinimg.com/564x/c4/6a/bb/c46abb1d7651cc2d244cdc67cd48db33.jpg');
    background-position: center;
    background-size: cover;
}