.loading_screen {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    z-index: 1;

}
.loading_screen_container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}
.loading_screen_number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.loading_screen_bar {
    width: 0%;
    height: 10px;
    background-color: #F5A6DD; /* You can change the loading bar color as needed */
    position: relative;
    overflow: hidden;
}

.loading_screen_bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    animation: loadingAnimation 2s linear forwards;
}

@keyframes loadingAnimation {
    from { width: 0; }
    to { width: 100%; }
}