.navigation_bar {
  position: absolute;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100px;
  background-color:transparent ;
}
.navigation_logo{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 30px;
  top: 0;
  font-weight: 200;
}
.navigation_bar_container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}
.navigation_menu_container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  z-index: 11;
}
.naviagtion_menu{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.naviagtion_menu_line{
  width: 40px;
  height: 4px;
}
.navigation_bar_menu{
  position: absolute;
  left: -10rem;
}
.navigation_bar_list{
  list-style: none;
}
.navigation_bar_list_link{
  color: #DBDBDB;
  text-transform: uppercase;
  font-weight: 200;
}